			@font-face {
				font-family: "BaiJamjuree";
  				src: url("BaiJamjuree-Regular.ttf");
  				font-weight: 200;
	
			}


			body {
				font-size: 18px;
				height: 100%;
				margin-top: 0px;
   				margin-right: 0px;
    			margin-bottom: 0px;
    			margin-left: 3px;
			}

			.item_header {
				grid-area: header; 
				background-color: white;
				text-align: center;
				width: 100%;
				margin-top: 0px;
			}
			.item_topbar {
				grid-area: topbar; 
				background-color: white;
				text-align: left;
			}
			.item_main {
				grid-area: main; 
				background-color: white;
				text-align: center;
				margin-top: 50px;
			}
			.item_footer {
				grid-area: footer; 
				background-color: white;
			}
			.container {
				display: grid;
				grid-template-columns: 0fr auto 0fr 0fr;
				grid-template-rows: 520px auto auto 10px;
				grid-template-areas: 
					"header header"
					"topbar topbar"
					"main main"
					"footer footer";
			}

			.container div {
				padding: 0px;
				
				}

			.container p {
				margin-top: 5px;
			}

			* {
				margin: 0px;
			}

			.dropdown {
				float: left;
				overflow: hidden;
			}


			.dropbtn {
				font-size: 20px; 
				border: none;
				outline: none;
				color: black;
				padding: 14px 16px;
				font-family: inherit;
				margin: 0;
				background-color: #E6E6E6;
			}

			.dropbtn_about {
				font-size: 20px; 
				border: none;
				outline: none;
				color: white;
				padding: 14px 16px;
				font-family: inherit;
				margin: 0;
				background-color: #424242;

			}


			.dropdown-content {
				display: none;
				position: absolute;
				background-color: #E6E6E6;
				min-width: 150px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
			}

			.dropdown-content a {
				float: none;
				color: black;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
				text-align: left;
			}

			.dropdown-content a:hover {
				background-color: #2E64FE;
			}

			.dropdown:hover .dropdown-content {
				display: block;
			}

			.dropbtn:hover {
				background-color: #424242;
				color: white;
				transition: 0.5s;
			}

			.top_nav {
			   	background-color: #E6E6E6;
			    overflow: hidden;
			    border-radius: 10px;
			}


			.top_nav a {
			    float: left;
			    color: black;
			    text-align: center;
			    padding: 14px 16px;
			    text-decoration: none;
			    font-size: 20px;
			}

			
			.top_nav a:hover {
			    background-color: #424242;
			    color: white;
			    transition: 0.5s;
			}


			.top_nav a.active {
			    background-color: #424242;
			    color: white;
			}

			.main_content {
			    margin-left: 5%;
			    font-size: 24px; 
			    padding: 0px 10px;
			    width: 90%;
			    text-align: center;

			}
			.main_text {
				margin-left: 5%;
			    font-size: 18px; 
			    padding: 0px 10px;
			    width: 90%;
			    text-align: justify;
			    position: sticky;
			}


			.btn1 {
		    	background-color: #424242;
		    	border: none;
		   		color: black;
		    	padding: 5px 5px;
		    	font-size: 16px;
		    	cursor: pointer;
			}

			.header {
				font-size: 22px;
				text-align: center;	
				color: black;
				background-color: #E6E6E6;
				border-radius: 10px;
				height: 520px;
				position: relative;
				background-image: url(CaM_comp.png);
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				overflow: hidden;
				line-height: 18em;
				text-shadow: 3px 3px 8px black;
			}

			.footer {
				position: relative;
   				bottom: 0%;
   				width: 90%;
				background-color: #E6E6E6;
				font-size: 15px;
				text-align: center;
				padding-top: 1px;
				padding-bottom: 1px;
				border-radius: 10px;
				margin-top: 50px;
				margin-left: 5%;
			}
			
			.contacts {
				text-align: center;
				font-size: 17px;
			}
			
			.contacts_header {
				text-align: center;
				font-size: 24px;	
			}
			
			.about {
				text-align: center;
				font-size: 20px;	
			}

			.osm {
				text-align: center;
			}

			img {
				display: block;
				margin-left: auto;
				margin-right: auto;
				opacity: 1;
			}
			iframe {
				display: block;
				margin: 0 auto;

			}
			
			.rim_kat {
				position: relative;
				right:10%;
				background-repeat:no-repeat;
				background-position:0px 30px;
				width:350px;
				height:490px;
				background-image: url("rimkat_comp.svg");
				background-size: 100%;
				display:inline-block;
				opacity:0.5;
				color:black;
				text-align:center;
				text-transform: uppercase;
				font-size:20px;
				text-decoration: initial;
				transition:0.5s;
			}
			.husit {
				position: relative;
				left:0%;
				background-repeat:no-repeat;
				background-position:0px 50px;
				width:350px;
				height:560px;
				background-image: url("husit_comp.svg" );
				background-size: 100%;
				display:inline-block;
				opacity:0.5;
				color:black;
				text-align:center;
				text-transform: uppercase;
				font-size:20px;
				text-decoration: initial;
				transition:0.5s;
			}

			.evang {
				position: relative;
				left:10%;
				background-repeat:no-repeat;
				background-position:0px 60px;
				width:350px;
				height:560px;
				background-image: url("evang_comp.svg");
				background-size: 100%;
				display:inline-block;
				opacity:0.5;
				color:black;
				text-align:center;
				text-transform: uppercase;
				font-size:20px;
				text-decoration: initial;
				transition:0.5s;
			}

			.map_main {
				position: relative;
				left:0%;
				background-repeat:no-repeat;
				background-position:0px -60px;
				width:700px;
				height:600px;
				background-image: url("map_comp.svg");
				background-size: 100%;
				display:inline-block;
				opacity:0.5;
				color:black;
				text-align:center;
				text-transform: uppercase;
				font-size:30px;
				text-decoration: initial;
				transition:0.5s;
			}

			.kostely_menu {
				position: relative;
				bottom: 0px;
				color: white;
				font-size: 25px;
				display: block;
				opacity:1;
				transition: 0.5s;

			}

			.column {
			    float: left;
			    width: 25%;
			    padding: 5px;
			}


			.row::after {
    			content: "";
    			clear: both;
    			display: table;
    		}

			.rim_kat:hover, .husit:hover, .evang:hover, .map_main:hover {
				opacity: 1.0;
			}

			.kostely_menu:hover {
				opacity: 0.5;
			}


			.overlay_image {
				position: relative;
			}

			.overlay_image .image {
				display: block;
				width: 80%;
				height: auto;
			}

			.overlay_image .hover {
				position: absolute;
				top: 0;
				height: 100%;
				width: 100%;
				opacity: 0;
				color: black;
				font-size: 25px;
				padding-top: 25%;

			}

			.overlay_image:hover .image  {
				opacity: 0.5;
				transition: 0.5s;
			
			}

			.overlay_image:hover .hover {
				opacity: 1;
				transition: 0.5s;
			}

			.nadpis {
				color: black;
				font-size: 30px;
				margin-bottom: 30px;

			}	

			.active, .overlay_image .text, .kostely_menu, .dropbtn, .top_nav, 
			.main_content, .main_text, .header, .footer, .contacts, .contacts_header, .about, .blokova_cisteni, .uzavirky, .osm, .nadpis{
				font-family: "BaiJamjuree", sans-serif;
				font-weight: 200;
			}
