/* FONTS */


@font-face {
    font-family: roboto-regular;
    src: url(Fonts/RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(Fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url(Fonts/Roboto-Thin.ttf);
}


/* HTML */


html, body {
    margin: 0;
    padding: 0;
    font-family: roboto-regular;
}

.extent {
  position: relative;
  display: flex;
  height: 100vh;
}

#extent1 {
  background: white;
}

#extent2 {
  background: #e6e6e6;
}

#extent3 {
  background: white;
}

#extent4 {
  background: #e6e6e6;
}

.header {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform:  translateX(-50%) translateY(-50%);
}

#logo {
    height: 40%;
    width: 40%;
    pointer-events: none;
}

#FBlogo {
    height: 8%;
    width: 8%;
    vertical-align: bottom;
}

.inquiries {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translateX(-50%) translateY(-50%);
}


.inq {
    text-align: center;
    font-size: 2.2vw;
    margin-bottom: -1vw;
    margin-top: 4vw;
    color: #1a1a1a;
}

.ans {
    text-align: center;
    font-family: Roboto-bold;
    font-size: 10em;
    color: #333333;
    margin-bottom: 4vw;
}

.ans#little {
    text-align: center;
    font-family: Roboto-regular;
    font-size: 1vw;
    color: #333333;
    margin-top: -3vw;
    margin-bottom: -2vw;
}

.ans#FB {
    text-align: center;
    font-family: Roboto-bold;
    font-size: 2.5vw;
    color: #333333;
}

#map {
    height: 80vh;
    width: 50vw;
    margin: 0 auto;
    margin-top: 10vh;
    border: 5px solid #333333;
}

.information {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translateX(-50%) translateY(-50%);
}

.infoh {
    text-align: center;
    font-family: Roboto-bold;
    font-size: 2.5vw;
    color: #1a1a1a;
}

.infot {
    text-align: center;
    font-size: 1.5vw;
    word-wrap: break-word;
    width: 50vw;
    color: #333333;
}

.mail {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform:  translateX(-50%) translateY(-50%);
    font-size: 2.5vw;
}

a {
    color: #333333;
    line-height: 1;
}

.bold {
    font-family: Roboto-bold;
    color: #333333;
}

p {
    color: #1a1a1a;
}


/* LEAFLET */
.leaflet-popup {
    position: absolute;
    text-align: center;
}

.church .leaflet-popup-content-wrapper {
    background: #333333;
    color: #ffffff;
    font-family: roboto-regular;
    box-shadow: 0px 0px 0px;
    height: auto;
    width: auto;
    padding: 0.2vw;
}

.church .leaflet-popup-content {
    margin: 0.4vw auto; 
    display: block;
    font-size: 0.9vw;
    text-align: center;
}

.church .leaflet-popup-tip {
    height: 0;
    width: 0;
}

.leaflet-tile-pane {
  filter: grayscale(100%);
}

.tram .leaflet-popup-content-wrapper {
    background: #ff4d4d;
    color: #ffffff;
    font-family: roboto-regular;
    box-shadow: 0px 0px 0px;
    height: auto;
    width: auto;
    padding: 0.2vw;
}

.tram .leaflet-popup-content {
    margin: 0.4vw auto; 
    display: block;
    font-size: 0.9vw;
    text-align: center;
}

.tram .leaflet-popup-tip {
    height: 0;
    width: 0;
}

.parking .leaflet-popup-content-wrapper {
    background: #4d94ff;
    color: #ffffff;
    font-family: roboto-regular;
    box-shadow: 0px 0px 0px;
    height: auto;
    width: auto;
    padding: 0.2vw;
}

.parking .leaflet-popup-content {
    margin: 0.4vw auto; 
    display: block;
    font-size: 0.9vw;
    text-align: center;
}


.parking .leaflet-popup-tip {
    height: 0;
    width: 0;
}


/* SCROLLBAR */


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: #a6a6a6;
}

::-webkit-scrollbar-thumb:hover {
    background: #8c8c8c;
}